<h1>Users Admin</h1>
<a class="btn btn-primary mb-3" (click)="addUser()">add</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>
            <button type="button" class="btn btn-primary">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- show the add users page only when we have the action parameter as add.  Also we will be specifying the user as selectedUser which will be passed as input to the add user component. -->
  <div class="col-md-6">
    <!-- specify the function to be called on userAddedEvent -->
    <app-adduser
      *ngIf="action === 'add'"
      [user]="selectedUser"
      (userAddedEvent)="refreshData()"
    ></app-adduser>
  </div>
</div>
