<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="" class="navbar-brand" target="_blank">Home</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <span
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Admin
        </span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/admin/users">Users</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
