<!-- bootstrap card css -->
<div class="row">
  <div class="col-sm" *ngFor="let book of books; let i = index">
    <div class="card card-block">
      <img class="custom-image-style" img src="{{ book.displayImg }}" />
      <div class="book-desc-container row">
        <div>
          <p>
            <strong>{{ book.name }}</strong>
          </p>
          <p>
            Price: <strong>{{ book.price }}</strong> Lei
          </p>
          <p>{{ book.author }}</p>
        </div>
        <div class="offset-md-4 col-md-4">
          <button
            class="btn-primary btn-sm"
            (click)="addToCart(book.id)"
            [disabled]="book.isAdded === true"
          >
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
