<!-- In case of add book we will be adding a button in the books page.For displaying the add books page in the books page we will be making use of the selector tag of the add book component. We will be showing the add books page only when we have the action parameter as add.  Also we will be specifying the book as selectedBook which will be passed as input to the add book component. -->
<h1>Books Admin</h1>
<a class="btn btn-primary mb-3" (click)="addBook()">Add New Book</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Book Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="viewBook(book.id)"
            >
              Show Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- show the add books page only when we have the action parameter as add.  Also we will be specifying the user as selectedUser which will be passed as input to the add user component. -->
  <div class="col-md-6">
    <app-addbook
      *ngIf="action === 'add' || action === 'edit'"
      [book]="selectedBook"
      (bookAddedEvent)="refreshData()"
    ></app-addbook>
    <!-- show the view books page only when we have the action parameter as "view".  Also we will be specifying the book as selectedBook which will be passed as input to the view book component -->
    <app-viewbook
      *ngIf="action === 'view'"
      [book]="selectedBook"
      (bookDelEvent)="refreshData()"
    ></app-viewbook>
  </div>
</div>
