<div class="bookDetails">
  <h2>Book Details</h2>

  <table class="table">
    <tr>
      <td class="bookDetailsCol">Id:</td>
      <td>{{ book.id }}</td>
    </tr>
    <tr>
      <td class="bookDetailsCol">Name:</td>
      <td>{{ book.name }}</td>
    </tr>
    <tr>
      <td class="bookDetailsCol">Author:</td>
      <td>{{ book.author }}</td>
    </tr>
    <tr>
      <td class="bookDetailsCol">Price:</td>
      <td>{{ book.price }}</td>
    </tr>
  </table>
  <br />
  <img
    src="{{ book.displayImg }}"
    width="auto"
    height="200"
    alt="No book cover picture was found!"
  />
  <br /><br />
  <div>
    <a class="btn btn-small btn-danger" (click)="deleteBook()">Delete Book</a>
    <a class="btn btn-small btn-warning" (click)="updateBook()"
      >Update Book Details</a
    >
  </div>
</div>
